<%-  include ('partials/navbar.ejs'); %>
<%-  include ('partials/header.ejs'); %>
    <h1>Seja bem vindo</h1>
    <% if(nome) { %>
       <h2>Olá <%= nome %> </h2> 
        <% }%>
        <%-  include ('partials/footer.ejs'); %>