<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de videos</h1>
    <% if(playlist && !videos){ %>
       <h2>Você está na playlist <%= playlist %> </h2>
        <% } if(playlist && videos) {%>
            <h2>Você está na playlist <%= playlist %> vendo <%= videos %></h2>
            <% } if(!playlist && !videos){ %>
                <h2>Escolha a playlist</h2>
                <% }%>
</body>
</html>